.container {
  background-color: rgb(199, 241, 100);
  color: black;
  width: 70%;
  margin-left: 15%;
  height: auto;
  padding-left: 20%;
}
.container h2 {
  margin-left: 15%;
}
.container span {
  margin: 2rem 2rem;
}
.addresscon div {
  margin-left: 20%;
}
.container button {
  background-color: rgb(136, 136, 161);
  border-radius: 1.3rem;
  font-weight: bold;
  margin: 1rem;
  padding: 0.9rem 2rem;
}
